<form ng-submit="ctrl.createWater()">
  <input type="text" ng-model="ctrl.createForm.name" placeholder="water name" />
  <input type="text" ng-model="ctrl.createForm.brand" placeholder="water brand" />
  <input type="text" ng-model="ctrl.createForm.type" placeholder="water type" />
  <input type="text" ng-model="ctrl.createForm.imported" placeholder="imported" />
  <input type="text" ng-model="ctrl.createForm.countryOfOrigin" placeholder="country of origin" />
  <input type="text" ng-model="ctrl.createForm.price" placeholder="price" />
  <input type="text" ng-model="ctrl.createForm.flavor" placeholder="flavor" />
  <input type="submit" value="Create New Water" />
</form>
